## IMDB 영화평 감성 분석 ( 이진 분류 )
- kaggle - bag of Words meets Bags of popcorns

#### 1. 데이터 탐색

In [2]:
import numpy as np
import pandas as pd

In [3]:
df = pd.read_csv('data/labeledTrainData.tsv', sep='\t')
df.head(3)

       id  sentiment                                             review
0  5814_8          1  With all this stuff going down at the moment w...
1  2381_9          1  \The Classic War of the Worlds\" by Timothy Hi...
2  7759_3          0  The film starts with a manager (Nicholas Bell)...

In [4]:
df = pd.read_csv('data/labeledTrainData.tsv', sep='\t', quoting =3) # 3: Quote None
df.head(3)

         id  sentiment                                             review
0  "5814_8"          1  "With all this stuff going down at the moment ...
1  "2381_9"          1  "\"The Classic War of the Worlds\" by Timothy ...
2  "7759_3"          0  "The film starts with a manager (Nicholas Bell...