## 컨텐츠 기반 추천 영화추천 Ver2

- 영화 줄거리, 감독, 주연배우 => Tfidf 변환 => 코사인 유사도

In [6]:
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [3]:
movie = pd.read_csv('data/movies_metadata.csv',low_memory=False)
info = pd.read_csv('data/credits.csv')
info.head(2)

,cast,crew,id
0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862
1,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",8844

### 1.데이터 전처리 - movie와 info 데이터 병합

In [5]:
df = movie[['id', 'title', 'overview']]
df.head(3)

      id             title                                           overview
0    862         Toy Story  Led by Woody, Andy's toys live happily in his ...
1   8844           Jumanji  When siblings Judy and Peter discover an encha...
2  15602  Grumpier Old Men  A family wedding reignites the ancient feud be...

In [7]:
#결측치 제거, 중복데이터 제거
df.dropna(how='any', inplace=True)
df.drop_duplicates(subset=['overview'], inplace=True)
df.drop_duplicates(subset=['title'], inplace=True)
df.shape

(41218, 3)

In [8]:
type(df.id[0])

str

In [10]:
df.id = df.id.astype(int)
info.id = info.id.astype(int)
df = pd.merge(df,info)
df.head(2)

,id,title,overview,cast,crew
0,862,Toy Story,"Led by Woody, Andy's toys live happily in his ...","[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de..."
1,8844,Jumanji,When siblings Judy and Peter discover an encha...,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de..."