## 와인데이터 분석하기

In [1]:
import numpy as np
import pandas as pd

In [7]:
df1 = pd.read_csv('red.csv')
df2 = pd.read_csv('white.csv')

df1.head(5),df2.head(5)

(  fixed acidity;"volatile acidity";"citric acid";"residual sugar";"chlorides";"free sulfur dioxide";"total sulfur dioxide";"density";"pH";"sulphates";"alcohol";"quality"
 0   7.4;0.7;0;1.9;0.076;11;34;0.9978;3.51;0.56;9.4;5
 1   7.8;0.88;0;2.6;0.098;25;67;0.9968;3.2;0.68;9.8;5
 2  7.8;0.76;0.04;2.3;0.092;15;54;0.997;3.26;0.65;...
 3  11.2;0.28;0.56;1.9;0.075;17;60;0.998;3.16;0.58...
 4   7.4;0.7;0;1.9;0.076;11;34;0.9978;3.51;0.56;9.4;5                                                                                                                     ,
   fixed acidity;"volatile acidity";"citric acid";"residual sugar";"chlorides";"free sulfur dioxide";"total sulfur dioxide";"density";"pH";"sulphates";"alcohol";"quality"
 0   7;0.27;0.36;20.7;0.045;45;170;1.001;3;0.45;8.8;6
 1  6.3;0.3;0.34;1.6;0.049;14;132;0.994;3.3;0.49;9...
 2  8.1;0.28;0.4;6.9;0.05;30;97;0.9951;3.26;0.44;1...
 3  7.2;0.23;0.32;8.5;0.058;47;186;0.9956;3.19;0.4...
 4  7.2;0.23;0.32;8.5;0.058;47;186;0.9956;3.19;0.4...                                                                                                                     )

In [18]:
df1 = pd.read_csv('red.csv',sep=";")
df1.columns

Index(['fixed acidity', 'volatile acidity', 'citric acid', 'residual sugar',
       'chlorides', 'free sulfur dioxide', 'total sulfur dioxide', 'density',
       'pH', 'sulphates', 'alcohol', 'quality'],
      dtype='object')

In [19]:
df1.columns = ['산도', '산성', '구연산', '잔당', '염화물', '아황산', '이산화항', '밀집도', '알칼리', '황산염', '도수', '품질' ]
df1

        산도     산성   구연산   잔당    염화물   아황산  이산화항      밀집도   알칼리   황산염    도수  품질
0      7.4  0.700  0.00  1.9  0.076  11.0  34.0  0.99780  3.51  0.56   9.4   5
1      7.8  0.880  0.00  2.6  0.098  25.0  67.0  0.99680  3.20  0.68   9.8   5
2      7.8  0.760  0.04  2.3  0.092  15.0  54.0  0.99700  3.26  0.65   9.8   5
3     11.2  0.280  0.56  1.9  0.075  17.0  60.0  0.99800  3.16  0.58   9.8   6
4      7.4  0.700  0.00  1.9  0.076  11.0  34.0  0.99780  3.51  0.56   9.4   5
...    ...    ...   ...  ...    ...   ...   ...      ...   ...   ...   ...  ..
1594   6.2  0.600  0.08  2.0  0.090  32.0  44.0  0.99490  3.45  0.58  10.5   5
1595   5.9  0.550  0.10  2.2  0.062  39.0  51.0  0.99512  3.52  0.76  11.2   6
1596   6.3  0.510  0.13  2.3  0.076  29.0  40.0  0.99574  3.42  0.75  11.0   6
1597   5.9  0.645  0.12  2.0  0.075  32.0  44.0  0.99547  3.57  0.71  10.2   5
1598   6.0  0.310  0.47  3.6  0.067  18.0  42.0  0.99549  3.39  0.66  11.0   6

[1599 rows x 12 columns]